.pokecard-overlay {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.pokecard-wrapper {
  display: grid;
  background-color: white;
  width: 400px;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  align-content: space-evenly;
  font-size: 22px;
}

.pokecard-topbar {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
  padding: 10px 0px;
  font-size: x-large;
}

.topbar_name {
  text-transform: capitalize;
}

.pokecard-button_close_wrapper {
  // background-color: aquamarine;
  text-align: -webkit-right;
  padding: 10px 15px;
}

.pokecard-button_close {
  background-color: #01589a;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  width: fit-content;
}
