.searchbar_wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 0px 6px;
  gap: 6px;
  align-items: center;
}

.searchbar_img_wrapper {
  padding: 5px;
}

.searchbar {
  text-align: center;
  background-color: rgba(1, 88, 154, 0.3);
}
.search {
  background-color: white;
}
.searchbar_input_wrapper {
  padding: 3px;
}

.searchbar_input {
  width: 20rem;
  background-color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}
.searchedList {
  color: black;
}
.pokemonSearchedList {
  position: absolute;
  background-color: cadetblue;
}
.pokemonSearchedList_item {
  padding: 3px 15px;
}

@media all and (max-width: 500px) {
  .searchbar {
    width: 30em;
  }
}
