.navbar {
  background-color: aquamarine;
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
}

.navbar_search {
  background-color: antiquewhite;
  width: 30em;
}
