.app_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: calc(var(--top-bar-height-mobile) + 24px);

  @media screen and (min-width: 601px) {
    & {
      padding-top: calc(var(--top-bar-height-desktop) + 24px);
    }
  }
}
